<IfModule mod_rewrite.c>
    RewriteEngine On

    # Caminho da pasta do projeto
    RewriteBase /encomendas-do-chef---gestor/

    # Se o arquivo ou pasta existe, entrega normal
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redireciona tudo para o index.php
    RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]
</IfModule>
